body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}
#content .canvas {
  height: 70vh;
  width: 100%;
}
#content .map path {
  fill: #fefefe;
  fill-opacity: .2;
  stroke: #000;
  stroke-width: 2px;
}
#content .map circle {
  fill: #fefefe;
  fill-opacity: .2;
  stroke: #000;
  stroke-width: 0px;
}
.label {
  fill: white;
  font: bold 14px sans-serif;
}
circle[data-action] .label {
  font: bold 22px sans-serif;
}
#content .map circle[data-action] {
  stroke-width: 3.5px;
}
#content .map circle[data-type="Point"]:not([data-value]) {
  display: none;
}
#content .map path[data-action] {
  stroke-width: 3.5px;
}
#content .map path[data-type="Point"]:not([data-value]) {
  display: none;
}
#content .map .ON {
  fill-opacity: .2;
}
#content .map .OFF {
  fill-opacity: .2;
}
#content .map .ERROR {
  stroke-width: 1px;
  stroke: #F00;
}
.btn {
  background-color: #0045FF;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}
.modes {
  background-color: #FF4500;
}
#content .map [data-type="Point"] {
  fill-opacity: 0.5;
}
